export X_Academy_Training_iOS_CanNC1_2023_Mock_Project_ROOT_DIR="$WORKSPACE/fsoft-workspace/Teaching/iOS-developent-course/X-Academy_Training_iOS_CanNC1_2023/CanNC1"
alias mockprj="cd $X_Academy_Training_iOS_CanNC1_2023_Mock_Project_ROOT_DIR;"
alias xomockprj="cd $X_Academy_Training_iOS_CanNC1_2023_Mock_Project_ROOT_DIR; open src/ExchangeRate/ExchangeRate.xcodeproj"